@page
@model BookList.Pages.GerenciamentoLista.AdicionarModel
@{
    ViewData["Title"] = "Adicionar";
}

<div class="text-left col-12 m-auto mb-4">
    <h2 class="display-4">Adicionar Livro</h2>
    <hr />
</div>

<form class="card col-8 m-auto" method="post">
    <h6 class="card-header card-title text-center">Preencha as informações</h6>

    <div class="card-body">
        <div class="mb-2">
            <label class="form-label" asp-for="NovoLivro.Isbn"></label>
            <input class="form-control" type="text" minlength="13" maxlength="13" asp-for="@Model.NovoLivro.Isbn" autofocus="true"/>
            <span class="text-danger" asp-validation-for="NovoLivro.Isbn"></span>
        </div>
        <div class="mb-2">
            <label class="form-label" asp-for="NovoLivro.Titulo"></label>
            <input class="form-control" type="text" maxlength="80" asp-for="@Model.NovoLivro.Titulo" />
            <span class="text-danger" asp-validation-for="NovoLivro.Titulo"></span>
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="NovoLivro.Autor"></label>
            <input class="form-control" type="text" maxlength="80" asp-for="@Model.NovoLivro.Autor" />
            <span class="text-danger" asp-validation-for="NovoLivro.Autor"></span>
        </div>

        <button class="btn btn-primary w-100" type="submit">Adicionar</button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}